
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}


.about-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 90px 10%;
  gap: 60px;
}


.about-section.reverse {
  flex-direction: row-reverse;
}

.text {
  max-width: 520px;
  padding: 45px;
  border-radius: 22px;
  box-shadow: 3px 3px 3px rgb(36, 36, 36);
}


.text h2 {
  font-size: 2rem;
  margin-bottom: 18px;
}

.text p {
  font-size: 20px;
  line-height: 1.75;
  margin-bottom: 14px;
}

.text ul {
  padding-left: 18px;
}

.text li {
  margin-bottom: 8px;
  line-height: 1.6;
}

 .about-section:not(.reverse){
  background: linear-gradient(
    to right,
    rgba(210, 230, 236, 0.9),
    rgba(210, 230, 236, 0.6),
    rgba(210, 230, 236, 0.25),
    rgba(210, 230, 236, 0)
  );
}

.about-section.reverse  {
  background: linear-gradient(
    to left,
    rgba(210, 230, 236, 0.9),
    rgba(210, 230, 236, 0.6),
    rgba(210, 230, 236, 0.25),
    rgba(210, 230, 236, 0)
  );
}

.image img {
  width: 420px;
  max-width: 100%;
}

.about-end {
  text-align: center;
  padding: 110px 18%;
  background-color: #eef5f7;
}

.about-end h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.about-end p {
  font-size: 1rem;
  line-height: 1.7;
}

@media (max-width: 900px) {
  .about-section,
  .about-section.reverse {
    flex-direction: column;
    text-align: center;
  }

  .text {
    max-width: 100%;
  }


  .about-section .text,
  .about-section.reverse .text {
    background: linear-gradient(
      to bottom,
      rgba(210, 230, 236, 0.7),
      rgba(210, 230, 236, 0.35),
      rgba(210, 230, 236, 0)
    );
  }

  .image img {
    width: 300px;
  }

  .about-end {
    padding: 70px 10%;
  }
}
