/*signin*/

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
    font-family: 'Inter', sans-serif;
}

.signup {
    background: url("photo.png")
                center/cover no-repeat;
    height: 100vh;
}


.container {
    display: flex;
    height: 100vh;
}


.left {
    flex: 1;
    position: relative;
}

.right {
    flex: 1;
    display: flex;
    justify-content: end;
}

.login-card {
    background-color: rgb(201, 212, 215,0.4);
    padding: 70px;
    height: 100%;
    width: 500px;
    border-radius: 20px;
    box-shadow: -10px 10px 10px #555555;
}

.login-card p{
    margin-bottom: 30px;
    font-size: 15px;
}

.login-card h2 {
    margin-top: 80px;
    margin-bottom: 10px;
    font-size: 35px;
    color: #2e3a3a;
}

.subtitle {
    font-size: 14px;
    color: #6b7b7b;
    margin-bottom: 25px;
}

label {
    font-size: 13px;
    color: #2e3a3a;
}

input {
    width: 100%;
    padding: 12px;
    margin: 8px 0 18px;
    border-radius: 10px;
    box-shadow:2px 2px 2px #181a1a ;
    border: 1px solid #181a1a;
    outline: none;
}

input:focus {
    border-color: #4a7c7b;
}

button {
    width: 100%;
    padding: 12px;
    background: #5933e4;
    color: #ffffff;
    margin-top: 20px;
    border: none;
    border-radius: 12px;
    box-shadow: 3px 3px 3px #0c0c0c;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background: #8567f1;
}

.extras {
    text-align: center;
    margin-top: 50px;
}

.extras a {
    color: #0c0c0c;
    text-decoration: none;
    font-size: 13px;
}

.extras p {
    margin-top: 10px;
    font-size: 13px;
    color: #0f1111;
}


/*-------about----------*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}


.about-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 90px 10%;
  gap: 60px;
}


.about-section.reverse {
  flex-direction: row-reverse;
}

.text {
  max-width: 520px;
  padding: 45px;
  border-radius: 22px;
  box-shadow: 3px 3px 3px rgb(36, 36, 36);
}


.text h2 {
  font-size: 2rem;
  margin-bottom: 18px;
}

.text p {
  font-size: 20px;
  line-height: 1.75;
  margin-bottom: 14px;
}

.text ul {
  padding-left: 18px;
}

.text li {
  margin-bottom: 8px;
  line-height: 1.6;
}

 .about-section:not(.reverse){
  background: linear-gradient(
    to right,
    rgba(210, 230, 236, 0.9),
    rgba(210, 230, 236, 0.6),
    rgba(210, 230, 236, 0.25),
    rgba(210, 230, 236, 0)
  );
}

.about-section.reverse  {
  background: linear-gradient(
    to left,
    rgba(210, 230, 236, 0.9),
    rgba(210, 230, 236, 0.6),
    rgba(210, 230, 236, 0.25),
    rgba(210, 230, 236, 0)
  );
}

.image img {
  width: 420px;
  max-width: 100%;
}

.about-end {
  text-align: center;
  padding: 110px 18%;
  background-color: #eef5f7;
}

.about-end h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.about-end p {
  font-size: 1rem;
  line-height: 1.7;
}

@media (max-width: 900px) {
  .about-section,
  .about-section.reverse {
    flex-direction: column;
    text-align: center;
  }

  .text {
    max-width: 100%;
  }


  .about-section .text,
  .about-section.reverse .text {
    background: linear-gradient(
      to bottom,
      rgba(210, 230, 236, 0.7),
      rgba(210, 230, 236, 0.35),
      rgba(210, 230, 236, 0)
    );
  }

  .image img {
    width: 300px;
  }

  .about-end {
    padding: 70px 10%;
  }
}

/*-------------psycho----------*/


.psycho {
  font-family: Arial, sans-serif;
  background: linear-gradient(
    to right,
    #f29ae3,      
    #e3d3e0 50%,  
    #ded4dd 50%,  
    #cf91dd       
  );
  color: #555;
  line-height: 1.6;
  margin: 0;
  padding: 40px 0;
}


section {
  width: 85%;
  max-width: 900px;
  margin: 0 auto 50px auto;
  padding: 30px 50px;
  background: rgba(219, 206, 224, 0.8);  
  border-radius: 20px;
  border: 3px solid #f868f1;             
  box-shadow: 10px 6px 20px rgba(143, 47, 123),inset 10px 10px 10px rgb(111, 89, 120);
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;  
  text-align: center;   /
}


section:hover {
  transform: translateX(10px) translateY(-5px) scale(1.05) rotate(-1deg);
  background: linear-gradient(to right, #aa7fa3, #ecf1f2);
  box-shadow: 0 10px 25px #ca1ed6,inset 20px 20px 20px #ac71a2;
}


h1, h2 {
  color: #3F2965;          
  font-size: 30px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0,0,0,0.1); 
  transition: all 0.3s ease;
}


p {
  font-size: 16px;
  margin-top: 15px;
  line-height: 1.6;
  transition: all 0.3s ease;
  color: #3e2f3e;
}


p:hover,
h1:hover,
h2:hover {
  color: #1f2a44;
  font-weight: bold;
  transform: scale(1.1,1.2);
}

ul {
  padding-left: 20px;
  margin-top: 15px;
}

li {
  margin-bottom: 10px;
}


@media (max-width: 768px) {
  section {
    width: 90%;
    padding: 25px 20px;
  }

  h1, h2 {
    font-size: 22px;
  }

  p {
    font-size: 15px;
  }
}
